<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Chinese-Annotator</title>
	<link rel="stylesheet" href="styles.css" type="text/css" />
	<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<!--
anatine, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
	<section id="body" class="width">
		<aside id="sidebar" class="column-left">

			<header>
				<h1>
					<a href="#">Chinese-Annotator</a>
				</h1>

				<h2>中文文本标注工具</h2>

			</header>

			<nav id="mainnav">
				<ul>
					<li>
						<a href="index.html">Text Classification</a>
					</li>
					<li>
						<a href="examples.html">Named Entity Recognition</a>
					</li>
					<li>
						<a href="#">Information Extraction</a>
					</li>
					<li>
						<a href="web_util.html">Web API Utilities</a>
					</li>
					<li>
						<a href="index.html">Help</a>
					</li>
				</ul>
			</nav>
		</aside>
		<section id="content" class="column-right">
			<article>
				<h2>Introduction</h2>
				<p>The text has been auto labeld by model, but it maybe incorrect, it is your to detemind if it is correct, if it is correct
					please click Right Button, if it incorrect please click the Wrong button and provide a correct answer</p>
			</article>

			<article class="expanded">
				<div id="load_and_annotation_data">
					<h2>Text Classification</h2>
					<br/>
					<h3>{{ auto_label }}</h3>

					<p>{{ annotation_text }}</p>
					<!--<p>Writers From the Right and Left on Trump Jr., the Future of the F.B.I.ORG, Health Care and More</p>-->

					<a href="#" v-on:click="annotate_single_unlabeled" class="button">right</a>
					<a href="#" v-on:click="click_wrong_button" class="button button-reversed">wrong</a>
					&nbsp;&nbsp;
					<!-- <a href="#" class="button">undo</a>
					<a href="#" class="button button-reversed">cancel</a> -->
					<br/>
					<p></p>
					<div v-show="incorrect_label">
						<label for="file_path_local">Select a right class</label>
						<select v-model='item'>
							<option v-for=" item in class_list"> {{ item.name}}</option>
						</select>
						<a href="#" v-on:click="annotate_single_correct" class="button">submit</a>
					</div>


				</div>
			</article>
			<article class="expanded">
				<div id="annotation_history">
					<h3>History</h3>
					<table >
						<tr>
							<th>Label</th>
							<th>Text</th>

						</tr>
						<tr v-for=" annotation in annotation_list">
							<td>{{ annotation.label }}</td>
							<td>{{ annotation.text }}</td>
						</tr>
					</table>
					<p>&nbsp;</p>
				</div>
			</article>


			<footer class="clear">
				<p>&copy; 2017 sitename.
					<a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by Canno Groups</p>
			</footer>

		</section>

		<div class="clear"></div>

	</section>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="js/core.js"></script>
</body>

</html>